bind_address     = ${API_GATEWAY_HOST}
bind_port        = ${API_GATEWAY_PORT}

keycloak_host    = ${KEYCLOAK_HOST}
keycloak_realm   = ${KEYCLOAK_REALM}
keycloak_certs   = ${KEYCLOAK_CERTS}

jwt_cache_expiry = ${JWT_CACHE_EXPIRY}
jwt_algorithm    = ${JWT_ALGORITHM}

user_server_cert = /etc/ssl/certs/user.crt
match_server_cert = /etc/ssl/certs/match.crt
tournament_server_cert = /etc/ssl/certs/tournament.crt